# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ExamenT1.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tony9\Desktop\ExamenT1\.idea\.idea.ExamenT1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
